@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}



body::-webkit-scrollbar-thumb {
  background-color: gray;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}